<!-- wp:template-part {"slug":"header","tagName":"div"} /-->

<!-- wp:group {"tagName":"main","className":"lc-main lc-main--page"} -->
<main class="wp-block-group lc-main lc-main--page"><!-- wp:group {"className":"lc-wrap lc-sec lc-stack lc-stack--lg"} -->
<div class="wp-block-group lc-wrap lc-sec lc-stack lc-stack--lg"><!-- wp:post-title {"level":1,"className":"lc-h1"} /-->

<!-- wp:post-content {"className":"lc-entry"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
